<style>
     .coll{
        color: rgb(43, 177, 43);
        
    }
    .root{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subdiv{
        width:auto;
        margin-top: 110px;
        background:#fff;
        padding: 20px;
        border-radius: 20px;
        
    }
    .gap{
        padding:7px;
    }

    .aligncenter{
   
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
 
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
<title>Transaction History</title>
 
    <body style="background-color:#f8edeb;">
        <nav class="navbar is-transparent  is-fixed-top">
            <div class="navbar-brand">
              <a class="navbar-item" href="/bank/home">
                <p style="display:flex;color:rgb(50, 160, 132); align-items: center; justify-content:center; font-size:30px; font-weight: bold; letter-spacing:3px; font-style: oblique;"> WELCOME</p>
              </a>
              <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          
            <div id="navbarExampleTransparentExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/bank/home">
                  HOME
                </a>
                <a class="navbar-item" href="/bank/createuser">
                  CREATE USER
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <p class="navbar-link" >
                    <span class="coll">MORE</span> 
                  </p>
                  <div class="navbar-dropdown is-boxed">
                   
                    <a class="navbar-item" href="/bank/displayall">
                     TRANSFER MONEY
                    </a>
                    <a class="navbar-item" href="/bank/thistory">
                    <span class="coll">TRANSACTION HISTORY</span>
                    </a>
                  
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="field is-grouped">
                    
                    <p style="display:flex;color:rgb(50, 160, 132); align-items: center; justify-content:center; font-size:30px; font-weight: bold; letter-spacing:3px; font-style: oblique;"> THE SPARK BANK</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </nav>
        <div class="root">
            <div class="subdiv">
              
                <div class="row gap" style="display:flex; align-items: center; justify-content:center; font-size:20px; font-weight: bold; letter-spacing:3px;">
                  TRANSACTION HISTORY
       
                </div>
          
        <table class="table" style="width: 1200px; height: auto;" >
            <thead>
              <tr>
                <th><abbr>Id</abbr></th>
                <th><abbr>Transfered By</abbr></th>
                <th><abbr>Transfered To</abbr></th>
                <th><abbr>Amount</abbr></th>
                <th><abbr>Date & Time</abbr></th>
               </tr>
            </thead>
            <tbody>
                <% data.map((item,index)=>{ %> 
               <tr>
                <td><b><%=item.id %></b></td>
               <td><%=item.fromm%></td>
         
               <td>
                <%=item.too %>
                </td>
                <td>
                   <%=item.amount%>
                </td>
                  
                <td>
                <%=item.date%>
                </td>
                </tr>

                <%})%>   
          
                  </tbody>
          </table>
      
</div>
</div>
    </body>
</html>